body {
    background: linear-gradient(to right, #f2709c, #ff9472);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.form-wrap {
    background: rgba(0, 0, 0, 0.5);
    color: #efefef;
}

.preview img {
    width: 300px;
}

.my-form label {
    font-family: 'Times New Roman', Times, serif
} 

 .resume-template {
    background-color: white;
} 

.resume-template .inner-container h1,
.resume-template .inner-container h2,
.resume-template .inner-container h3 {
    text-transform: uppercase;
    font-weight: 600;
}

.resume-template .inner-container h5 {
    text-transform: capitalize;
    font-weight: 600;
}

.personal-info p {
    margin-bottom: 0;
}
/* 
.profile {
    
}  */

