* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #f2709c, #ff9472);
    /* text-align: center; */
}

.container {
    background-color: aquamarine;
    text-align: center;
}

header {
    background-color: #bd72ff;
}

header h1 {
    margin: 20px 0;
}

.form-wrap {
    background-color: aliceblue;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
}

h2 {
    margin: 20px 0;
}

.form-group label {
    display: none;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.form-group input, textarea {
    outline: none;
    border: none;
    border-bottom: 1px solid red;
    display: block;
    width: 100%;
    font-family: Poppins-Regular;
    font-size: 15px;
    color: #555555;
    line-height: 1.2;
    margin-bottom: 10px;
    padding: 5px 2px;
} 

/* .form-group .upload-img {
    display: block;
    background-color: #f2709c;
} */

.form-group ::placeholder {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
    padding: 6px 12px;
    background-color:#f2709c;
    border: none;
    border-radius: 3px;
    margin-bottom: 10px;
    cursor: pointer;
}

.preview-img {
    background-color: aqua;
    margin: 10px;
}

.preview-img img {
    width: 300px;
}